@import "tailwindcss";

@theme {
  --color-primary: #B5364A;
  --color-primary-700: #932A3A;
  --color-primary-trans: #B5364A9f;
  --color-primary-text: #EF9FAA;
  --color-secondary: #3571B8;
  --color-secondary-100: #B9CBE1;
  --color-secondary-400: #5683B8;
  --color-secondary-700: #205995;
  --color-secondary-900: #16518B;
  --color-secondary-trans: #3571B89f;
  --color-accent: #D8CE48;
  --color-accent-totop: #91A0D9;
  --color-accent-100: #FAD8DE;
  --color-accent-300: #ECB08D;
  --color-accent-700: #CEBA4A;
  --color-accent-900: #BDA644;
  --color-text: #3a3c42;
  --color-background: #fff7f9;
  --color-background-loading: #fafdff;
}