@import "tailwindcss";

@theme {
  --color-primary: #9AD2C9;
  --color-primary-50: #BDD0CC;
  --color-primary-100: #C2E4DF;
  --color-primary-300: #AEDBD4;
  --color-primary-700: #83C5C2;
  --color-primary-900: #5EB5B8;
  --color-primary-text: #EF9FAA;

  --color-secondary: #F6BDC6;
  --color-secondary-50: #FBE1E5;
  --color-secondary-100: #FAD7DD;
  --color-secondary-300: #F8CAD1;
  --color-secondary-700: #F6BDC6;
  --color-secondary-900: #F6BDC6;

  --color-accent: #C0B4D1;
  --color-accent-50: #E3DDEA;
  --color-accent-100: #DCD7E5;
  --color-accent-300: #CDC3DA;
  --color-accent-700: #B19FCA;
  --color-accent-900: #A391C2;
  --color-accent-totop: #C0B4D1;

  --color-text: #3E3D3F;
  --color-background: #ffffff;
  --color-background-loading: #ffffff;
}
/* global.css */

@layer utilities {
  .bg-top-gradient {
    background-image: linear-gradient(
      160deg,
    #ffffff 0%, 
    #A1DBD2 10%,
    #BDD0CC 25%, 
    #E1E8E6 35%,
    #F1E3E6 45%,

    #FBE1E5 50%, /* ピンク */

    #F1E3E6 55%, 
    #E1E8E6 65%,
    #BDD0CC 75%, 
    #A1DBD2 90%, 
    #9AD2C9 100%
    );
  }
}

@layer utilities {
  .bg-header-gradient {
    background-image: linear-gradient(
      to right,
    #9AD2C9 0%,
    #BDD0CC 40%,
    #ffffff 50%,
    #FBE1E5 60%,
    #F6BDC6 100%
    );
  }
}